<div class="d-print-none">
    <label for="{{name}}">{{name}}</label><input type="number" min="{{min}}" max="{{max}}" id="{{name}}" class="form-control" ng-model="value" required>
</div>
<div class="d-print-block">
    <strong>{{name}}:</strong> {{value}}
</div>