<div class="d-print-none">
    <label for="{{name}}">{{name}}</label>
    <textarea id="{{name}}" class="form-control" ng-model="value"></textarea>
</div>
<div class="d-print-block">
    <strong>{{name}}:</strong> {{value}}
</div>