<div class="d-print-none">
    <label for="{{name}}">{{name}}</label>
    <input type="text" id="{{name}}" class="form-control" ng-model="value">
</div>
<div class="d-print-block">
    <strong>{{name}}:</strong> {{value}}
</div>