<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>&AElig;therworlds Charakterblatt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body ng-app="aetherworlds.sheet" ng-controller="sheetController">

<nav class="navbar navbar-expand-lg bg-dark d-print-none">
    <a class="navbar-brand" href="#">
        &AElig;therworlds
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menü
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#!" ng-click="load()">Öffnen</a>
                    <a class="dropdown-item" href="#!" ng-click="save()">Speichern</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!" ng-click="print()">Drucken</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main class="container">
    <h5>
        {{sheet.name || 'Charakter'}}
    </h5>

    <div class="row one-piece">
        <div class="col col-4 col-lg-2">
            <ae-text-stat name="Name" value="sheet.name"></ae-text-stat>
        </div>

        <div class="col col-4 col-lg-2">
            <ae-text-stat name="Spieler" value="sheet.player"></ae-text-stat>
        </div>

        <div class="col col-4 col-lg-2">
            <ae-text-stat name="Rasse" value="sheet.race"></ae-text-stat>
        </div>

        <div class="col col-4 col-lg-2">
            <ae-generic-stat name="Hintergrund" value="sheet.background.name">
                <label for="background">Hintergrund</label>
                <select id="background" class="form-control"
                        ng-model="sheet.background"
                        ng-options="background as background.name for background in backgrounds track by background.name">
                </select>
            </ae-generic-stat>
        </div>

        <div class="col col-4 col-lg-2">
            <ae-generic-stat name="Klasse" value="sheet.className">
                <label for="class1">Klasse</label>
                <select id="class1" class="form-control" ng-model="sheet.className" required>
                    <optgroup ng-repeat="(type, classGroup) in classes | groupBy:'type' track by type" label="{{type}}">
                        <option ng-repeat="clazz in classGroup | orderBy:'name' track by $index" value="{{clazz.name}}">
                            {{clazz.name}}
                        </option>
                    </optgroup>
                </select>
            </ae-generic-stat>
        </div>

        <div class="col col-4 col-lg-2">
            <ae-stat name="Level" value="sheet.level" min="1"></ae-stat>
        </div>
    </div>

    <div class="row d-print-none" ng-if="sheet.background.effect">
        <div class="col">
            <p class="text-info">
                {{sheet.background.effect}}
                (wegen Hintergrund {{sheet.background.name}})
            </p>
        </div>
    </div>

    <div class="row one-piece">
        <div class="col col-4 col-lg-2">
            <ae-stat name="Muskeln" value="sheet.stats.muscle" min="-3" max="3"></ae-stat>
        </div>

        <div class="col col-4 col-lg-2">
            <ae-stat name="Flink" value="sheet.stats.nimble" min="-3" max="3"></ae-stat>
        </div>

        <div class="col col-4 col-lg-2">
            <ae-stat name="Einfluss" value="sheet.stats.influence" min="-3" max="3"></ae-stat>
        </div>

        <div class="col col-4 col-lg-2">
            <ae-stat name="Einfallsreichtum" value="sheet.stats.influence" min="-3" max="3"></ae-stat>
        </div>

        <div class="col col-4 col-lg-2">
            <ae-stat name="Tech" value="sheet.stats.tech" min="-3" max="3"></ae-stat>
        </div>

        <div class="col col-4 col-lg-2">
            <ae-stat name="Geisteskraft" value="sheet.stats.spirit" min="-3" max="3"></ae-stat>
        </div>
    </div>

    <hr class="d-print-block">

    <div class="row one-piece">
        <div class="col col-3">
            <ae-stat name="Initiative" value="sheet.initiative"></ae-stat>
        </div>

        <div class="col col-3">
            <ae-stat name="Schutz" value="sheet.protection" min="0"></ae-stat>
        </div>

        <div class="col col-3">
            <ae-stat name="Max. Hitpoints" value="sheet.hitpoints" min="{{aux.hitpointsBase()}}"></ae-stat>
        </div>

        <div class="col col-3">
            <ae-stat name="XP" value="sheet.xp" min="0"></ae-stat>
        </div>
    </div>

    <div class="row one-piece">
        <div class="col-6 col-md-3">
            <ae-text-area-stat name="Waffen" value="sheet.weapons"></ae-text-area-stat>
        </div>

        <div class="col-6 col-md-3">
            <ae-text-area-stat name="Rüstung" value="sheet.armor"></ae-text-area-stat>
        </div>

        <div class="col-6 col-md-3">
            <ae-text-area-stat name="Inventar" value="sheet.gear"></ae-text-area-stat>
        </div>

        <div class="col-6 col-md-3">
            <ae-stat name="Münzen" value="sheet.coins" min="0"></ae-stat>
        </div>
    </div>

    <hr class="d-print-block">

    <h5>
        <button type="button" class="btn btn-primary d-print-none" data-toggle="modal" data-target="#modalAddSkill">+</button>
        Moves
    </h5>

    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="move in sheet.moves track by $index">
                    <ae-move ae-name="move.name" ae-move="move.move"></ae-move>
                    <button class="close d-print-none" ng-click="removeMove($index)" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                </li>
            </ul>
        </div>
    </div>

    <div id="modalAddSkill" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Move hinzufügen&hellip;</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist" id="skillTabs">
                    <li class="nav-item" id="customSkillTab">
                        <a class="nav-link active" data-toggle="tab" href="#customSkills">Selbst definieren</a>
                    </li>
                    <li class="nav-item" id="classSkillTab">
                        <a class="nav-link" data-toggle="tab" href="#classSkills">Klassen-Moves</a>
                    </li>
                    <li class="nav-item" id="backgroundSkillTab">
                        <a class="nav-link" data-toggle="tab" href="#backgroundSkills"
                           ng-class="{disabled: !sheet.background}">Hintergrund-Moves</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="customSkills" class="tab-pane fade show active">
                        <div>
                            <label for="customSkillName">Name:</label>
                            <input id="customSkillName" type="text" ng-model="newSkill.name" class="form-control">
                        </div>

                        <div>
                            <label for="customSkillEffect">Beschreibung:</label>
                            <textarea id="customSkillEffect" class="form-control"
                                      ng-model="newSkill.move"></textarea>
                        </div>

                        <button class="btn btn-sm btn-success" data-dismiss="modal"
                                ng-click="addMove(newSkill.name, newSkill.move)"
                                ng-disabled="!newSkill.name">
                            Hinzufügen
                        </button>
                    </div>

                    <div id="classSkills" class="tab-pane fade">
                        <div ng-repeat="clazz in classes | orderBy:'name' track by $index">
                            <h5>{{clazz.name}} <small class="text-muted">({{clazz.type}})</small></h5>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="move in clazz.moves track by $index">
                                    <button class="btn btn-sm btn-success">+</button>
                                    <ae-move ae-name="move.name" ae-move="move.move"></ae-move>
                                </li>
                            </ul>
                        </div>

                        <button class="btn btn-sm btn-success" data-dismiss="modal"
                                ng-click="addMove(newSkill.name, newSkill.move)"
                                ng-disabled="!newSkill.name">
                            Hinzufügen
                        </button>
                    </div>

                    <div id="backgroundSkills" class="tab-pane fade">
                        <p>Liste der verfügbaren Moves (durch {{sheet.background.name}})</p>

                        <button class="btn btn-sm btn-success" data-dismiss="modal"
                                ng-click="addMove(newSkill.name, newSkill.move)"
                                ng-disabled="!newSkill.name">
                            Hinzufügen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<footer class="d-print-none">
    <div class="container-fluid text-secondary">
        <div class="row">
            <div class="col-6">&copy; 2017 Manuel Warum</div>
            <div class="col-6 text-right">v<ae-version></ae-version></div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.1.0/angular-moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="bundle.js"></script>
</body>
</html>