@media print {
    input.form-control,
    select.form-control,
    textarea.form-control {
        border: 0 none !important;
        padding: 0;
    }

    .with-border {
        border: .75pt solid #cccccc;
    }
}